:root {
  --main-color: hsl(30, 63%, 74%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input {
  all: unset;
}

body {
  font-family: sans-serif;
  background-color: #fff;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__switch > button {
  margin-left: 30px;
  background-color: rgb(211, 106, 106);
  padding: 6px 8px;
  border: solid 2px rgba(146, 86, 86, 0.647);
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(96, 74, 74, 0.562);
  transition: all 0.1s ease-in;
}
.nav__switch > button:hover {
  background-color: hsla(0, 69%, 48%, 0.644);
}
.nav__form {
  display: flex;
  align-items: center;
}
.nav__main {
  display: flex;
  align-items: center;
}
.nav__logo {
  font-size: 45px;
}
.wi-day-cloudy {
  color: var(--main-color);
}
.search__icon {
  fill: rgb(39, 33, 33);
}
.form__button {
  background: transparent;
  border: none;
  margin-left: -30px;
  margin-top: 5px;
}

.form__input {
  margin-left: 50px;
  width: 150px;
  outline: none;
  padding: 7px 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.304);
  border-radius: 15px;
  border: solid 2px var(--main-color);
}
.main {
  padding: 40px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-info-logo {
  color: #000;
}
.card {
  display: flex;
  align-items: center;
  gap: 40px;
}

.card__info {
  display: flex;
  flex-direction: column;
}
.card__title {
  font-size: 1.2rem;
}
.card__stats {
  margin-top: 20px;
  margin-bottom: 20px;
}
.stats__temp {
  font-size: 2.6rem;
}
.stats__desc {
  font-size: 16px;
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
.stats__info > ul {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  list-style: none;
}
.stats__info li {
  font-size: 15px;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 7px;
}

.stats__info li > svg {
  height: 12px;
  width: 12px;
}
@media (max-width: 786px) {
  .card {
    flex-direction: column;
    gap: 20px;
  }
  iframe {
    width: 350px;
  }
  .stats__info li {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .card__info {
    justify-content: center;
    align-items: center;
  }
  .card__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 425px) {
  iframe {
    width: 280px;
  }
  .form__input {
    width: 100px;
    margin-left: 20px;
  }
  .nav__switch > button {
    font-size: 10px;
    margin-left: 20px;
    padding: 10px 9px;
  }
}
